@model EmployeeViewModel
@*@inject IDepartmentRepository deptRepo*@
@{
    ViewData["Title"] = "Update";
    //var departments = new SelectList(deptRepo.GetAll().Result, "Id", "Name");
    //var departments = new SelectList(ViewBag.Departments, "Id", "Name");
}

<h1>Update Employee</h1>
<br />
<br />
<div class="row">
    <div class="col-6">
        <form asp-action="Update" asp-controller="Employee" enctype="multipart/form-data">
            <input hidden asp-for="Id" />
            <partial name="CreateEditPartialView" model="@Model" />
            <input type="submit" value="Save" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-light">Back To List</a>
        </form>
    </div>
</div>
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}